apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-apiserver
  namespace: airflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-apiserver
  template:
    metadata:
      labels:
        app: airflow-apiserver
    spec:
      securityContext:
        runAsUser: 50000
        fsGroup: 0
      containers:
        - name: apiserver
          image: my-medium_pipeline:3.1.7
          imagePullPolicy: IfNotPresent
          command: ["airflow", "api-server"]
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: airflow-config
            - secretRef:
                name: airflow-secrets
          env:
            - name: AIRFLOW__CORE__FERNET_KEY
              valueFrom:
                secretKeyRef:
                  name: airflow-secrets
                  key: AIRFLOW__CORE__FERNET_KEY
          volumeMounts:
            - name: dags
              mountPath: /app/dag
            - name: scripts
              mountPath: /app/scripts
            - name: data
              mountPath: /app/data
          readinessProbe:
            httpGet:
              path: /api/v1/health
              port: 8080
            initialDelaySeconds: 30
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /api/v1/health
              port: 8080
            initialDelaySeconds: 60
            periodSeconds: 15
      volumes:
        - name: dags
          persistentVolumeClaim:
            claimName: airflow-dags-pvc
        - name: scripts
          persistentVolumeClaim:
            claimName: airflow-scripts-pvc
        - name: data
          persistentVolumeClaim:
            claimName: airflow-data-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: airflow-apiserver
  namespace: airflow
spec:
  selector:
    app: airflow-apiserver
  ports:
    - port: 8080
      targetPort: 8080