apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-flower
  namespace: airflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-flower
  template:
    metadata:
      labels:
        app: airflow-flower
    spec:
      securityContext:
        runAsUser: 50000
        fsGroup: 0
      containers:
        - name: flower
          image: my-medium_pipeline:3.1.7
          imagePullPolicy: IfNotPresent
          command: ["airflow", "celery", "flower"]
          ports:
            - containerPort: 5555
          envFrom:
            - configMapRef:
                name: airflow-config
            - secretRef:
                name: airflow-secrets
          env:
            - name: AIRFLOW__CORE__FERNET_KEY
              valueFrom:
                secretKeyRef:
                  name: airflow-secrets
                  key: AIRFLOW__CORE__FERNET_KEY
---
apiVersion: v1
kind: Service
metadata:
  name: airflow-flower
  namespace: airflow
spec:
  selector:
    app: airflow-flower
  ports:
    - port: 5555
      targetPort: 5555