apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow-worker
  namespace: airflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: airflow-worker
  template:
    metadata:
      labels:
        app: airflow-worker
    spec:
      securityContext:
        runAsUser: 50000
        fsGroup: 0
      containers:
        - name: worker
          image: my-medium_pipeline:3.1.7
          imagePullPolicy: IfNotPresent
          command: ["airflow", "celery", "worker", "--queues", "default"]
          envFrom:
            - configMapRef:
                name: airflow-config
            - secretRef:
                name: airflow-secrets
          env:
            - name: AIRFLOW__CORE__FERNET_KEY
              valueFrom:
                secretKeyRef:
                  name: airflow-secrets
                  key: AIRFLOW__CORE__FERNET_KEY
          volumeMounts:
            - name: dags
              mountPath: /app/dag
            - name: scripts
              mountPath: /app/scripts
            - name: data
              mountPath: /app/data
      volumes:
        - name: dags
          persistentVolumeClaim:
            claimName: airflow-dags-pvc
        - name: scripts
          persistentVolumeClaim:
            claimName: airflow-scripts-pvc
        - name: data
          persistentVolumeClaim:
            claimName: airflow-data-pvc